body {
    background-color: rgb(237, 28, 36);
    font-family: 'Jost', sans-serif;
    font-style: italic;
    color: white;
    /* margin */
    margin: 2rem;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    color: rgb(190, 190, 190);
    font-size: 20px;
}
